# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.venv/
venv/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

data/candidates.jsonl
data/candidate_embeddings.pkl

*.pkl
__pycache__/
.env
